/* Write your code here. */
.bg-container {
  background-color: #f1f5f8;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
}

.faqs-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  border-radius: 15px;
  padding: 10px 12px 10px 12px;
  max-width: 550px;
}

@media screen and (min-width: 768px) {
  .faqs-container {
    width: 90%;
    max-width: 1100px;
    padding: 30px;
  }
}

.faqs-list-container {
  width: 100%;
  list-style-type: none;
  padding: 0px;
}

@media screen and (min-width: 768px) {
  .faqs-list-container {
    width: 80%;
  }
}

.heading {
  color: #cb8805;
  font-size: 32px;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 65px;
  }
}
